#header1 {
    position: absolute;
    top: 40vh;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: white;
    font-family: 'Merriweather', serif;
}

#bolder {
    color: #ffff33;
}